bin/
dbg/
dist/
.env
!/hook-bootkit/
!/hook-docker/
!/hook-mdev/
hook*.*.yaml
!linuxkit-templates
out/
cache/
*.swp
.idea
kernel/Dockerfile.autogen.*
images/hook-embedded/images/*
!images/hook-embedded/images/.keep
images/hook-embedded/images.txt
images/hook-embedded/docker/*
!images/hook-embedded/docker/.keep
images/hook-embedded/images_tar/*
!images/hook-embedded/images_tar/.keep
