# This is an example file. It explains the required format.
# For the actual file, you must remove all the comments.
# The format is source image, a single space, optional additional tag of the source image, a single space, true or false to remove the original tag.
#<source image> <optional additional tag of the source image> <remove original tag>
# for example:
quay.io/tinkerbell/tink-worker:v0.10.0
quay.io/tinkerbell/tink-worker:v0.10.0 tink-worker:v0.10.0 true
quay.io/tinkerbell/actions/image2disk embedded/actions/image2disk
quay.io/tinkerbell/actions/cexec 127.0.0.1/embedded/actions/cexec true
